body{
    background-color: #808285;
    font-family: sans-serif;
}

#header-title{
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 30px;
    .leftcontainer{
        width:50%;
        border-bottom: 2px solid rgb(8, 8, 8);
    }
    .rightcontainer{
        width: 50%;
        border-bottom: 2px solid rgb(8, 8, 8);
    }
    .inner-header{
        font-weight: 800;
    }
    .inner-text{
        font-weight: 400;   
    }
    
}
